body {
  font-family: 'Fira Sans', sans-serif;
  color: #222222;
}

button {
  display: block;
  background: transparent;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 900;
  color: #151515;
}

.btn {
  background-color: #4737FF;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 26px;
  display: inline;
  border-radius: 0;
  letter-spacing: 0.3em;
}

.header {

}

.nav {
  padding-top: 59px;
}

.logo {

}

.search {
  background: transparent;
  border: none;
}

.menu {
  background: transparent;
}

.offer-cont__title {
  font-size: 60px;
}

.offer-cont__text {

}